%h3 Source Code

%p 
  You can get the source code from 
  = link "Github", "http://github.com/staticmatic/staticmatic/tree/master"
  \:
  
.code git clone git@github.com:staticmatic/staticmatic.git

