%h1 Download

%p The simplest way to get StaticMatic is via RubyGems:

.code gem install staticmatic

%h3 Source Code

%p 
  You can get the source code from 
  = link "RubyForge", "http://rubyforge.org/projects/staticmatic/"
  \:
  
.code svn checkout svn://rubyforge.org/var/svn/staticmatic/trunk staticmatic

