%h1 FAQ

=partial('qa', :locals => { :question => 'I hate Haml.  Can I use a different template language?', :answer => 'No. At least not at the moment.  Haml is perfect for our needs so we\'ve had no reason to investigate using other languages.  However, StaticMatic is open source so patches are always welcome.' })
=partial('qa', :locals => { :question => 'I found a bug.  How do I report it?', :answer => 'At the StaticMatic <a href="http://rubyforge.org/tracker/?func=browse&amp;group_id=3712&amp;atid=14306">Bug Tracker</a>.' })
=partial('qa', :locals => { :question => 'I\'d like a new feature.  How do I request it?', :answer => 'At the StaticMatic <a href="http://rubyforge.org/tracker/?atid=14309&amp;group_id=3712&amp;func=browse">Feature Request Tracker</a>.' })
=partial('qa', :locals => { :question => 'I\'ve got a patch for you.  How do I submit it?', :answer => 'At the StaticMatic <a href="http://rubyforge.org/tracker/?atid=14308&amp;group_id=3712&amp;func=browse">Patch Tracker</a>.' })
=partial('qa', :locals => { :question => 'How do I find neat helpers that other developers have written?', :answer => 'Go to the StaticMatic <a href="helper_central/">Helper Central</a>.' })
=partial('qa', :locals => { :question => 'I\'ve got a neat helper to share with the world.  How do I do it?', :answer => 'Post on the <a href="http://groups.google.co.uk/group/staticmatic">StaticMatic Google Group</a> requesting it be added to the StaticMatic <a href="helper_central/">Helper Central</a>.' })