%h1 Static websites, the modern way

%p 
  Web developers are used to using dynamic and frameworks like
  = link "Ruby on Rails", "http://www.rubyonrails.com"
  to develop applications. When it comes to working with static, non-dynamic websites it can seem like stepping back in time.

%h2 You'd like to

%ul
  %li.highlight Replace over-featured, cumbersome Content Management Systems
  %li.highlight Speed up your prototypes

%h2 Meet StaticMatic

.columns
  .left_column
    %em Concise and terse Haml Templating
    = img "homepage-templating.jpg"

  .right_column
    %em Live preview server for development
    = img "homepage-previewing.jpg"
  
  %p 
    %em Output full HTML pages
    = img "homepage-build.jpg"