body {
	background: #fff;
	color: #333;
	margin: 0;
	padding: 0;
	font: 16px/1em arial, helvetica, verdana, sans-serif;
}

#header {
	height: 50px;
}

#header { 
	padding: 15px 0 0px 0; 
}

#header .title { 
	font: normal 35px/35px georgia, "times new roman", times, serif; 
	border-bottom: 1px solid #999; 
	color: #cc0000; 
	padding-left: 20px; 
	margin-bottom: 0px; 
}

#header .bycurve21 {
	float: right;
	
}

* html #header .title { 
	margin-bottom: 0; 
}

#footer {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	font-size: 75%;
	letter-spacing: 1px;
	margin: 30px 0 15px 0;
	width: 100%;
	text-align: center;
	padding: 10px 0 5px 0;
}

:link,:visited { text-decoration:none }

ul,ol,li,h1,h2,h3,h4,h5,h6,form,body,html {

}

p {
	clear: both;
}

#content ul {
	margin-left: 20px;
	padding-left: 0;

}

#content li { 
	padding-left: 18px;
	background: url(../images/list.png) no-repeat 0% .5em;
}

a, a:link, a:visited {
	font-weight: bold;
	color: #206fbc;
	letter-spacing: 1px;
	outline: none;
	text-decoration: underline;
}

a:hover {
	color: #669933;
	text-decoration: none;
}

#content a, #content a:link, #content a:visited {
	color: #cc0000;
}

#content a:hover {
	color: #cc6600;
}

a img,:link img,:visited img {
	border: none;
}

h1, h2, h3, h4 {
	font-family: arial, helvetica, verdana, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
}

h1 {
	font-size: 218%;
}

h2 {
	font-size: 164%;
}

h3 {
	color: #5190b2;
	font-size: 145%;
}

h4 {
	color: #669933;
	font-size: 118%;
	font-weight: bold;
}

#navtop, #content, #leftcolumn, #rightcolumn  {
	font-size: 85%;
}

#content p, #leftcolumn p, #rightcolumn p  {
	margin-bottom: 18px;
}

blockquote {
	background-color: #f4f4f4;
	padding: 5px 10px 5px 10px;
	margin: 15px 40px 15px 20px;
	border-left: 5px solid #ccc;
	border-right: 5px solid #ccc;
	font-style: italic;
	letter-spacing: 1px;
}

img {
	border: 1px solid #aaa;
	padding: 0;
	margin: 0;
}

hr {
	clear: both; 
	border: 0; 
	height: 1px; 
	color: #ccc; 
	background-color: #ccc; 
	margin: 0;
}


#container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}


#content_wrapper {
	width: 920px;
}

#content_wrapper {
	margin: 15px 0 15px 0;
	padding: 0 0 0 20px;
}

* html #content_wrapper { margin-top: 10px; }

#content {
	width: 670px;
	float: left;
}

#menu {
	padding: 0;
	width: 100%;
	border-bottom: 5px solid #5190b2;
	height: 26px;
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
}


#menu ul {
	font: bold 13px arial;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
}

#menu a, #menu a:link, #menu a:visited {
	float: left;
	display: block;
	color: #fff;
	margin: 0 1px 0 0;
	padding: 5px 10px;
	text-decoration: none;
	letter-spacing: 1px;
	background: #333 url(../images/button.png) repeat-x;
	border-bottom: 1px solid #fff;
}

#menu a:hover{
	background: #999;
}

#menu #current a {
	background: #5190b2 url(../images/button_current.png) repeat-x; 
	border-color: #5190b2;
}

/* columns */
.columns {
	width: 580px;
}

.left_column {
	width: 45%;
	float: left;
}

.right_column {
	width: 45%;
	float: right;
}

.code {
	font-family: courier, sans-serif;
	font-size: 10pt;
	padding: 5px;
	background-color: #efefef;
	border: 1px solid #aaa;
	margin: 2px 0 2px 0;
}

#quotes {
	margin: 10px 0 0 0;
}

.quote {
	font-style: italic;
	color: #555;
	font-size: 10pt;
	margin: 10px 0 10px 0;
}

#side {
	float: right;
	width: 200px;
	border: 1px solid #aaa;
	background-color: #efefef;
	padding: 5px;
	margin: 0 0 10px 0;
}

#side a {
	display: block;
}


#side #news {
	font-size: 10pt;
}

#side .title {
	font-weight: bold;
	margin: 0 0 8px 0;
}

#side .heading {
	font-weight: bold;
	margin: 0 0 8px 0;
	font-size: 12pt;
}

.highlight {
  background-color: #aaa;
  font-style: italic;
}