!!!
%html
  %head
    %title StaticMatic Documentation
    %link{:rel => "stylesheet", :href => "/stylesheets/screen.css", :media => "screen"}
  %body
    #header
      #logo StaticMatic
    #page

      #menu
        %ul
          %li= link "Getting Started"
          %li= link "Compass Integration"
          %li= link "Helpers"
      #content= yield