.heading News
.title 0.10.0 Released!
%p This release brings some major improvements to error reporting as well as preparation for forthcoming improvements.

= link "And More!", "/releases/0_10_0.html"