%h1 Getting Started

:markdown
  StaticMatic is designed to be quick & easy to get up and running.  
  
  ## Installing
  
  You'll need to have (Ruby)[http://ruby-lang.org] installed along with Ruby's package manager (RubyGems)[http://rubygems.org/pages/download].  If you're using OSX or Linux, chances are you're ready to go.  If you're using Windows, you may need to install Rubyy using one of the packages found (here)[http://www.ruby-lang.org/en/downloads/].
  
  To install StaticMatic, open a terminal window and run:
  
      > gem install staticmatic
      
  If everything is set up correctly, you should now be able to run:
  
      > staticmatic -v
      
  and see a version number.
  
  Congratulations - you're ready to start creating your first StaticMatic site!

  ## Creating a site
  
  Open a terminal and run:
  
      > staticmatic setup my-first-site
  
  and StaticMatic will create a set of files for you to get started.
  
  

