%h1 StaticMatic 0.8.10

%h2 What's New

%ul
  %li [NEW] rails-like partials.  Partials can start with an underscore and live in the pages directory tree, old way still works (Brent Beardsley)
  %li [NEW] added current_page helper for use in other helpers, layouts, or pages (Brent Beardsley)
  %li [NEW] add src_dir, site_dir, and current_page attr_reader's on staticmatic class (Brent Beardsley)

%h2 What's Fixed

%ul
  %li [FIX] img helper changes and tests (Jason Tennier)
  %li [FIX] removed dependency on rails needing to be installed (Brent Beardsley)
  %li [FIX] fixed preview bug where setting a layout in a page would cause it to be used even for pages that did not have a layout specified and should be using the default (Brent Beardsley)
  %li [FIX] tag helper only outputs the attribute if it has a value (Brent Beardsley)
  %li [FIX] renamed RakeFile to Rakefile so it'll work on non-windows boxes (Brent Beardsley)
  %li [FIX] write tag helper attributes out in alphabetical order for consistency (Brent Beardsley)

%p
  See what changed in 
  = link('0.8.8', '/releases/0_8_8.html')
